<footer class="footer {{ footerMode }}">
	<div class="footer__decor-wrap">
		<a href=""><p class="footer__decor title title--lm marquee-animation">Contact us — Let’s talk — Contact us — Let’s talk — Contact us — Let’s talk — Contact us — Let’s talk — Contact us — Let’s talk — Contact us — Let’s talk —</p></a>
	</div>
	<div class="wrapper">
		<div class="container">
			<div class="footer__inner">
				<div class="footer__col footer__col--first">
					<ul class="footer__menu">
						<li>
							<p class="txt txt--s txt--light-bold color-white">contact us</p>
						</li>
					</ul>
					<ul class="footer__menu">
						<li>
							<p class="txt txt--s txt--light-bold color-white">Heroes from Ukraine</p>
						</li>
						<li>
							<p class="txt txt--s txt--light-bold color-white">Main Office</p>
						</li>
						<li>
							<p class="txt txt--s txt--light-bold color-white">Kharkiv, 61000</p>
						</li>
						<li>
							<a class="txt txt--s txt--light-bold color-white" href="#">info@dremdevdesign.com</a>
						</li>
					</ul>
				</div>
				<div class="footer__col footer__col--second">
					<ul class="footer__menu">
						<li>
							<p class="txt txt--s txt--light-bold color-white">follow us</p>
						</li>
					</ul>
					<ul class="footer__menu">
						<li>
							<a class="txt txt--s txt--light-bold color-white" href="#">Facebook</a>
						</li>
						<li>
							<a class="txt txt--s txt--light-bold color-white" href="#">Linkedin</a>
						</li>
						<li>
							<a class="txt txt--s txt--light-bold color-white" href="#">Behance</a>
						</li>
						<li>
							<a class="txt txt--s txt--light-bold color-white" href="#">Upwork</a>
						</li>
					</ul>
				</div>
				<div class="footer__col footer__col--third">
					<ul class="footer__menu">
						<li>
							<p class="txt txt--s txt--light-bold color-white">Business inquiries</p>
						</li>
						<li>
							<a class="txt txt--s txt--light-bold color-white" href="#">info@dremdevdesign.com</a>
						</li>
						<li>
							<p class="txt txt--s txt--light-bold color-white">be advanced</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
