<head>
  <meta charset="utf-8"/>
  <title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
  <meta name="description" content="{% if description %}{{ description }}{% else %}Template{% endif %}">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="format-detection" content="telephone=no"/>

  <meta property="og:title" content="{% if title %}{{ title }}{% else %}Template{% endif %}">
  <meta property="og:description" content="{% if description %}{{ description }}{% else %}Template{% endif %}">

  <link rel="shortcut icon" href="/img/home/logo.svg">

  <link rel="stylesheet" href="/css/app.css"/>

</head>
