<section id="" class="inner-hero">
	<div class="wrapper">
		<div class="container">
			<div class="inner-hero__bg-decor">
				<img src="../img/home/bg-decor.svg" alt="" />
			</div>
			<h1 class="inner-hero__title title title--l text-center color-g-white">Portfolio</h1>

			<div class="inner-hero__wrapper">
				<div class="inner-hero__lottie-wrapper">
					<div class="inner-hero__lottie-block js-lottie-cube"></div>
				</div>

				<div class="inner-hero__slider-container">
					<div class="inner-hero__filter-block">
						{% include 'blocks/filter-noise.twig' %}
					</div>

					<div class="inner-hero__main-slider js-slider noise-effect">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="inner-hero__slider-image">
									<a href="https://redstar.nl/" target="_blank"><img src="../img/home/image1.png" alt="" /></a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image">
									<a href="https://spacehouse.london/" target="_blank"><img src="../img/home/image2.png" alt="" /></a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image">
									<a href="https://difmark.com/" target="_blank"><img src="../img/home/image3.png" alt="" /></a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image">
									<a href="https://alexeypodobed.github.io/glory-template/" target="_blank"><img src="../img/home/image4.png" alt="" /></a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image">
									<a href="https://sbitsoft.com/ua/" target="_blank"><img src="../img/home/image5.png" alt="" /></a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image">
									<a href="https://sbitsoft.co.il/" target="_blank"><img src="../img/home/image6.png" alt="" /></a>
								</div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image">
									<a href="https://sevensouls.co.il/" target="_blank"><img src="../img/home/image7.png" alt="" /></a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="inner-hero__slider-left-3d js-move-top-anim">
					<div class="inner-hero__left-slider js-slider-left">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim">
									<img src="../img/home/image6.png" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim">
									<img src="../img/home/image7.png" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim"></div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim"></div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim"></div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim"></div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="inner-hero__slider-top-3d">
					<div class="inner-hero__top-slider js-slider-top">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim"></div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim"></div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim"></div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim"></div>
							</div>
							<div class="swiper-slide swiper-slide--first">
								<div class="inner-hero__slider-image js-scale-anim">
									<img src="../img/home/image1.png" alt="" />
								</div>
							</div>
							<div class="swiper-slide swiper-slide--second">
								<div class="inner-hero__slider-image js-scale-anim">
									<img src="../img/home/image2.png" alt="" />
								</div>
							</div>
							<div class="swiper-slide swiper-slide--third">
								<div class="inner-hero__slider-image js-scale-anim">
									<img src="../img/home/image3.png" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim">
									<img src="../img/home/image4.png" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim">
									<img src="../img/home/image5.png" alt="" />
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="inner-hero__slider-right-3d js-move-top-anim">
					<div class="inner-hero__right-slider js-slider-right">
						<div class="swiper-wrapper">
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim">
									<img src="../img/home/image2.png" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim">
									<img src="../img/home/image3.png" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim">
									<img src="../img/home/image4.png" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim">
									<img src="../img/home/image5.png" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim">
									<img src="../img/home/image6.png" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim">
									<img src="../img/home/image7.png" alt="" />
								</div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim"></div>
							</div>
							<div class="swiper-slide">
								<div class="inner-hero__slider-image js-scale-anim"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
